.presentation p {
  text-align: center;
  color: #ffffff;
}
.presentation p span {
  font-weight: 700;
  font-size: 0.85rem;
}

.welcome {
  background-color: var(--mainOrange);
  padding: 2.5rem 1rem;
}

.welcome .title {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
/* .welcome .title h2 {
  font-family: var(--fontBabyDoll);
  font-size: 30px;
  color: var(--mainBlue);
  text-align: center;
  margin-right: 7px;
} */

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

/* [2023-06-25] - personal presentation */

.antoPresentation {
  padding: 2.5rem 1rem;
  background-color: var(--mainPink);
}

.antoPresentation p {
  text-align: center;
  font-size: 0.85rem;
}

.antoPresentation h2 {
  font-family: var(--fontBabyDoll);
  font-size: 30px;
}

.antoPresentation .imageContainer {
  padding: 0.6rem;
  background-color: var(--mainSkyGreen);
  border-radius: 12px;
  margin: 2rem auto 2rem auto;
  width: 215px;
  width: 100%;
}

.antoPresentation .image {
  border-radius: 12px;
  object-fit: cover;
  object-position: 0% 15%;
  height: 335px;
}

.danaPresentation {
  padding: 2.5rem 1rem;
  background-color: var(--mainBlueGrey);
}

.danaPresentation h2 {
  font-family: var(--fontBabyDoll);
  font-size: 30px;
}

.danaPresentation p {
  text-align: center;
  font-size: 0.85rem;
}

.danaPresentation .imageContainer {
  padding: 0.6rem;
  background-color: var(--mainPink);
  border-radius: 12px;
  margin: 2rem auto 2rem auto;
  width: 215px;
  width: 100%;
}

.danaPresentation .image {
  border-radius: 12px;
  object-fit: cover;
  height: 335px;
}

@media (min-width: 1024px) {
  .introContainer {
    max-width: 600px;
    margin: 0px auto;
  }

  .antoPresentation .imageContainer {
    display: flex;
    padding: 0.6rem;
    background-color: var(--mainSkyGreen);
    border-radius: 12px;
    margin: 0rem auto 0rem auto;
    width: 295px;
  }

  .antoPresentation .image {
    width: 275px;
    height: 500px;
  }

  .danaPresentation .imageContainer {
    padding: 0.6rem;
    background-color: var(--mainPink);
    border-radius: 12px;
    margin: 0rem auto 0rem auto;
    width: 295px;
  }

  .danaPresentation .image {
    width: 275px;
    height: 500px;
  }

  .antoPresentation p {
    text-align: left;
  }

  .danaPresentation p {
    text-align: left;
  }
}
