.section {
  width: 100%;
  display: flex;
}

.cardAnto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  padding: 1.5em;
  background-color: var(--mainPink);
}

.cardAnto h3 {
  font-family: var(--fontBabyDoll);
}

.titleAnto {
  font-family: var(--fontBabyDoll);
  color: var(--mainBlueGrey);
}

.titleDana {
  color: var(--mainPink);
  font-family: var(--fontBabyDoll);
}

.cardDana {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  padding: 1.5em;
  background-color: var(--mainBlueGrey);
}

.cardDana h3 {
  font-family: var(--fontBabyDoll);
}

.image {
  border-radius: 50%;
  object-fit: cover;
  object-position: 30% 10%;
  margin-bottom: 0.75em;
  width: 160px;
  height: 160px;
}

.footerFrontSection {
  background-color: var(--mainGreen);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  width: 100%;
}

.title {
  width: 100%;
  color: #264e56;
  text-align: center;
  font-family: var(--fontBabyDoll);
  font-size: 30px;
}
