.section {
  width: 100%;
  display: flex;
  max-width: 750px;
  height: 185px;
}

.cardAnto {
  display: flex;
  justify-content: flex-start;
  width: 250px;
  padding: 1.5rem 1rem;
  background-color: var(--mainPink);
}

.cardAnto h3 {
  font-family: var(--fontBabyDoll);
}

.titleAnto {
  font-family: var(--fontBabyDoll);
  color: var(--mainBlueGrey);
}

.titleDana {
  color: var(--mainPink);
  font-family: var(--fontBabyDoll);
}

.cardDana {
  display: flex;
  justify-content: flex-start;
  width: 250px;
  padding: 1.5rem 1rem;
  background-color: var(--mainBlueGrey);
}

.cardDana h3 {
  font-family: var(--fontBabyDoll);
}

.image {
  border-radius: 50%;
  object-fit: cover;
  object-position: 30% 10%;
  margin-right: 1rem;
  width: 100px;
  height: 100px;
}

.footerFrontSection {
  background-color: var(--mainGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  width: 250px;
}
